body {
  background-color: #1e3744;
  padding: 20px;
}
.light-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.light-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.red {
  background-color: #c0392b;
}

.yellow {
  background-color: #f1c40f;
}

.blue {
  background-color: #64fcfe;
}

.green {
  background-color: #2ecc71;
}

.title {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 0 0 10px white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.label {
  color: white;
  font-size: 16px;
  font-weight: normal;
  width: 100px;
}

.color-input {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
